<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>FullClient</servlet-name>
		<servlet-class>com.projectcheck.FullClientSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FullClient</servlet-name>
		<url-pattern>/fullclient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DistributedSource</servlet-name>
		<servlet-class>com.projectcheck.DistributedSourceSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DistributedSource</servlet-name>
		<url-pattern>/distributedsource</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SwitchBoard</servlet-name>
		<servlet-class>com.projectcheck.SwitchBoardSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SwitchBoard</servlet-name>
		<url-pattern>/switchboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AnswerConnect</servlet-name>
		<servlet-class>com.projectcheck.AnswerConnectSet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnswerConnect</servlet-name>
		<url-pattern>/answerconnect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GFullClient</servlet-name>
		<servlet-class>com.projectcheck.GetFullClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GFullClient</servlet-name>
		<url-pattern>/getfullclient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GDistributedSource</servlet-name>
		<servlet-class>com.projectcheck.GetDistributedSource</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GDistributedSource</servlet-name>
		<url-pattern>/getdistributedsource</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GAnswerConnect</servlet-name>
		<servlet-class>com.projectcheck.GetAnswerConnect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GAnswerConnect</servlet-name>
		<url-pattern>/getanswerconnect</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GSwitchBoard</servlet-name>
		<servlet-class>com.projectcheck.GetSwitchBoard</servlet-class>
	</servlet>
	<servlet-mapping>                                   
		<servlet-name>GSwitchBoard</servlet-name>
		<url-pattern>/getswitchboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>com.projectcheck.LoginExampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>                                   
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>GetAll</servlet-name>
		<servlet-class>com.projectcheck.GetAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAll</servlet-name>
		<url-pattern>/getAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>com.projectcheck.EditIssue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>ViewPage.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
